body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    background-color: #4CAF50; /* Green */
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
    background-image: url(/images/pexels-pixabay-33359.jpg);
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Distribute items along the main axis */
    align-items: center; /* Center items along the cross axis */
}

.hero-container {
    flex: 1;
    margin: 0 20px;
}

.logo {
    height: 100px;
    width: 100px;
    fill: limegreen;
}

nav ul {
    display: flex;
    justify-content: flex-end; /* Align to the right */

}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: yellow;
}


.image-about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-about img {
    width: 30%;
    margin: 10px;
}

.experience-section {
    background-color: #FFA500; /* Orange */
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
}

.services-section {
    text-align: center;
}

.contact-section {
    background-color: #FFA500; /* Orange */
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
}
/* ... (styles for other sections) */


footer {
    background-color: #333; /* Dark gray */
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}
