body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ... (other styles) */

.hero-section {
    background-color: #4CAF50; /* Green */
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
}

.gallery-section {
    background-color: #f2f2f2; /* Light gray */
    padding: 50px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-gallery img {
    width: 30%;
    margin: 10px;
}

.experience-section {
    background-color: #FFA500; /* Orange */
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
}

.services-section {
    text-align: center;
}

.contact-section {
    background-color: #FFA500; /* Orange */
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
}
/* ... (styles for other sections) */


footer {
    background-color: #333; /* Dark gray */
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}
